.header-grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.header {
  background: #0f0e0e;
  padding-top: 29px;
  padding-bottom: 32px;
}
.header-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.header-nav__link {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
}
.header-cart {
  justify-self: end;
  align-self: center;
  position: relative;
}
.header-cart-count {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  position: absolute;
  right: 13px;
  top: 11px;
}
