.trend {
  background: url("../../static/img/trend-background.png");
  background-size: cover;
}
.trend-common {
  position: relative;
  padding-bottom: 138px;
}
.trend-text {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: 0.1em;
  color: #000000;
  margin: 0;
  padding-top: 73px;
}
.trend-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  background: #fcfcfc;
  mix-blend-mode: luminosity;
  border: 3px solid #000000;
  box-sizing: border-box;
  padding: 20px 32px 15px 32px;
  margin-top: 195px;
  margin-left: 150px;
}
.trend-img-circle {
  position: absolute;
  right: -20px;
  top: 75px;
}
